:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}
html {
  font-size: 66.5%;
}
body {
  font-size: 16px; /* 1 rem = 10px*/
  font-family: "Krub", sans-serif;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 120rem;
  /*margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;*/

  /*margin: 0 auto 0 auto;*/
  margin: 0 auto; /*CSS ya sabe que si solo hay 2 valores, el primero es el de arriba y el de abajo, y el 2do es el de la derecha e izquierda */
}
.nav-bg {
  background-color: var(--secundario);
}
.navegacion-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-direction: column;
  align-items: center;  NOTA: EN CASO DE QUERER ORDENAR MENÚ DE ARRIBA HACIA ABAJO*/
}
.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 1rem;
}
.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}
.navegacion-principal a:focus {
  color: red;
}
